html{
    height:100%;
}
body{
    background:linear-gradient(to top,rgba(0, 0, 0,0.3),gray,white,gray,black)
}

#container{
    height:900px;
    width:900px;
    margin:auto;
    margin-top:100px;
    text-align: center;
}
#img{
    display:grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    gap:5px;
}
#container img{
    border:black solid 1px;
    height:300px;
    width:300px;
    object-fit: fill;
}
#score{
    font-size: 24px;
    float:left;
}
h2{
    font-size: 32px;
}